.CartWidgetCerrado{
    
    display: none;
}

.CartWidgetAbierto{
    border: solid red 1px;
    width: 25%;
    height: auto;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    display: blok;
    background-color: white;
}

.cerrar{
    cursor: pointer;
    display: inline;
    color: black;
    background-color: red;
    border-radius: 5px;
   
}

.contenedorItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: red 2px solid;
    
}

img{
    width: 100%;
    height: auto;
}

.divTitulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divTitulo>p{
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: large;
     
}

.inputFormulario{
    width: 100%;
    border-radius: 5px;
    border:none;
    border-top: solid red 1px;
    margin-bottom: 5px;
}

.inputFormulario:focus{
    width: 100%;
    border-radius: 5px;
    border:none;
    border-top: solid red 1px;
    margin-bottom: 5px;
}

.btnCofirmarOrden, .tituloFormulario{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
}

.ocultar{
    display: none;
}